<style>
  label { width: 100px; vertical-align: middle;}
</style>
<% if session[:user_id].nil?%>
  <script language="JavaScript">alert("Please log in first")</script>
  <script type='text/javascript'>window.location.href= '<%= root_url %>'</script>
<% end %> 
<h2 align="middle">Add a New Forum</h2>

<% if @forum.errors.any? %>
  <ul class="errors">
    <% @forum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
<%= form_tag forums_url, :method => 'post', :class=>"form", :role=>"form" do %>
  <label>Forum name:</label>
  <input class="form-control" type="text" name="forum_name" placeholder="forum name">
  <label>Description:</label>
  <textarea class="form-control" cols="80" name="description"></textarea>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">
<% end %>
</div>