<style>
  label { width: 100px; vertical-align: middle;}
</style>
<% if session[:user_id].nil?%>
  <script language="JavaScript">alert("Please log in first")</script>
  <script type='text/javascript'>window.location.href= '<%= root_url %>'</script>
<% end %> 
<% if session[:user_id] != @comment.commenter_id && session[:user_id] != Forum.find_by_id(Post.find_by_id(@comment.post_id).forum_id).admin_id  %>
  <script language="JavaScript">alert("No permission!")</script>
  <script type='text/javascript'>window.location.href= '<%= root_url %>'</script>
<% end %>
<h2>Edit your Comment:</h2>
<div class="container">
<%= form_tag comment_url(params[:id]), :method => 'patch', :class=>"form", :role=>"form" do %>
  <label>Content</label>
  <textarea class="form-control" name="content"><%= @comment.content %></textarea>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">
<% end %>
</div>